/* * {
    margin: 0;
    padding: 0;
} */

.Header-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 115px;
    border: 2px solid black;

}

.social {
    display: flex;
    width: 100vw;
    height: 46px;
    flex-direction: column;
    border: 2px solid black;
    /* background-color: #092E20; */
}

.footer-social {
    display: flex;
    width: 99vw;
    height: 46px;
    flex-direction: row;
    margin: 0 5px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: 1px solid black;

}

.social ul {
    display: flex;
    width: 98vw;
    height: 30px;
    padding: 10px;
    justify-content: space-between;
}